<div class="container container-size">
  <div class="row">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, class: "flash #{key}" %>
    <% end %>

    <div class="col-md-6 bg-white container-border my-4 mx-3">
      <% unless RestaurantCategory.all.nil? %>
        <h5  class="my-3">Available restaurant category</h5>

        <ul>
          <% RestaurantCategory.all.each do |category| %>
            <li class="ml-3"><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>


    <div class="col-md-4 bg-white container-border my-4 mx-3">
      <h5 class="mt-3">Add a restaurant category</h5>
      <%= form_for @restaurant_category do |form| %>
        <div class="form-group">
          <%= form.label "CATEGORY NAME", class: "control-label" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <%= form.submit "add", class: "form-control btn btn-danger mb-3" %>
      <% end %>
    </div>
  </div>
</div>