<div class="container container-size container-border my-4 bg-white">
  <div class="profile text-center mt-4">
    <div class="row">
      <div class="col-6">
        <%= image_tag @user.image.url, class: "pics rounded-circle float-right mt-3" %>
      </div>
      <div class="col-6 mt-5">
        <h3 class="nm-text text-left"><%= @user.name %></h3>
        <i class="fas fa-map-marker-alt"></i>
      </div>
    </div>
  </div>
</div>

<div class="container container-size my-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="navbar-nav bg-white container-border px-2 mx-n3">

        <li class="nav-item active-link link">
          <%= link_to edit_user_path(@user), class: "nav-link", title: "Add info" do %>
            <i class="fas fa-user-edit"></i>  Add Info
          <% end %>
        </li>

        <li class="nav-item active-link link">
          <%= link_to restaurant_orders_path(@user.orders), class: "nav-link", title: "Your bookings" do %>
            <i class="fas fa-shopping-cart text-primary"></i> Your Orders
          <% end %>
        </li>

        <li class="nav-item active-link link">
          <%= link_to restaurant_tables_path(@user.tables), class: "nav-link", title: "Your bookings" do %>
            <i class="fas fa-person-booth"></i>   Your Bookings
          <% end %>
        </li>

        <% unless is_admin? %>
          <li class="nav-item active-link link">
            <a class="nav-link" href="#my-reviews">My reviews</a>
          </li>

        <% else %>

          <li class="nav-item link">
            <%= link_to restaurant_categories_path, class: "nav-link", title: "Manage restaurant category" do %>
              <i class="fas fa-tasks"></i>  Restaurant Categories
            <% end %>
          </li>

          <li class="nav-item link">
            <%= link_to new_restaurant_path, class: "nav-link", title: "Add a restaurant" do %>
              <i class="fas fa-plus"></i> Add Restaurant
            <% end %>
          </li>
          
          <li class="nav-item link">
            <%= link_to restaurants_path, class: "nav-link", title: "Manage restaurants" do %>
              <i class="fas fa-tasks"></i>  Manage Restaurants
            <% end %>
          </li>

        <% end %>
        </li>
      </ul>
    </div>


    <div class="col-md-6 mx-3 my-3" id="my-reviews">
      <% unless is_admin? && current_user.reviews.not_approved.count != 0 %>
        <%= render @reviews %>
      <% end %>
    </div>
  </div>
</div>
