<% @page_title = "#{'Admin ' if is_admin?}Profile" %>

<div class="container container-size container-border my-4 bg-white">
  <div class="profile text-center mt-4">
    <div class="row">
      <div class="col-6">
        <%= image_tag @user.image.url, class: "pics rounded-circle float-right mt-3" %>
      </div>
      <div class="col-6 mt-5">
        <h3 class="nm-text text-left"><%= @user.name %></h3>
      </div>
    </div>
  </div>
</div>

<div class="container container-size my-4">
  <div class="d-md-flex justify-content-between">
    <div class="col-md-3 ml-n3">
      <h6 class="font-weight-bold text-center">Activity!</h6>
      <ul class="navbar-nav bg-white container-border px-2 mx-n3">
        <% if current_user.id == @user.id %>
          <li class="nav-item active-link link">
            <%= link_to edit_user_path(@user), class: "nav-link", title: "Add info" do %>
              <i class="fas fa-user-edit"></i>  Add Info
            <% end %>
          </li>

          <li class="nav-item active-link link">
            <%= link_to restaurant_orders_path(@user.orders), class: "nav-link", title: "My bookings" do %>
              <i class="fas fa-shopping-cart"></i> My Orders
            <% end %>
          </li>

          <li class="nav-item active-link link">
            <%= link_to restaurant_booking_tables_path(@user.booking_tables), class: "nav-link", title: "My bookings" do %>
              <i class="fas fa-person-booth"></i>   My Bookings
            <% end %>
          </li>
        <% end %>

        <li class="nav-item active-link link">
            <a class="nav-link" href="#my-reviews">
              <i class="fas fa-edit"></i> Review
            </a>
        </li>
      </ul>
    </div>


    <div class="col-md-6 my-3" id="my-reviews">
      <%= render @reviews %>
      <%= will_paginate @reviews %>
    </div>

    <div class="col-md-3 mr-n3">
      <% if is_admin? && current_user.id == @user.id %>
        <h6 class="font-weight-bold text-center">Admin!</h6>
      <% end %>
      <ul class="navbar-nav bg-white container-border px-2 mx-n3">
       <% if is_admin? && current_user.id == @user.id %>

          <li class="nav-item link">
            <%= link_to new_restaurant_path, class: "nav-link", title: "Add a restaurant" do %>
              <i class="fas fa-plus"></i> Add Restaurant
            <% end %>
          </li>
          
          <li class="nav-item link">
            <%= link_to restaurants_path, class: "nav-link", title: "Manage restaurants" do %>
              <i class="fas fa-tasks"></i>  Manage Restaurants
            <% end %>
          </li>

          <li class="nav-item link">
            <%= link_to restaurant_categories_path, class: "nav-link", title: "Manage restaurant category" do %>
              <i class="fas fa-tasks"></i>  Restaurant Categories
            <% end %>
          </li>

          <li class="nav-item link">
            <%= link_to food_categories_path, class: "nav-link", title: "Manage food category" do %>
              <i class="fas fa-tasks"></i>  Food Categories
            <% end %>
          </li>

        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>