<% @page_title = "Zomato Clone" %>

<div class="container-fluid banner">
</div>

<div class="container container-size">
  <div class="container row">
    <div class="col-md-10">
    <p class="small text-secondary mt-3 mb-0">For using current loction, don't need to fill address field, it automatically takes the current location after clicking search button or location tracking icon.</p>
      <%= form_tag root_path, role: "search", method: :get do |f| %>
        <div class="form-group my-4">
          <div class="d-flex justify-space-between">
            <%= button_tag name: nil, id: "locate", class: "btn btn-danger rounded-circle mx-1 px-2 " do %>
              <i class="fas fa-location-arrow"></i>
            <% end %>
            <%= hidden_field_tag :location, params[:location] %>
            <%= text_field_tag :near, params[:near], placeholder: "Enter location", class: "mx-1 form-control" %>
            <%= text_field_tag :q, params[:q], placeholder: "Search Restaurant by Category, food, city etc.", class: "form-control" %>
            <%= button_tag "search", class: "mx-1 btn btn-danger", id: "search" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <% if @restaurant_nearby.present? && params[:near].present? && params[:q].blank? %>
    <h6 class="font-weight-bold my-3 text-success">
      Restaurant near by 
      <span class="text-primary"><%= params[:near] %></span>
    </h6>
  <% elsif @restaurant_nearby.present? && params[:near].present? && params[:q].present? %>
    <h6 class="font-weight-bold my-3 text-success">
      Restaurant near by 
      <span class="text-primary"><%= params[:near] %></span> 
      contains keyword 
      <span class="text-primary"><%= params[:q] %></span>.
    </h6>
  <% elsif @restaurant_nearby.present? && params[:near].blank? && params[:q].present? %>
    <h6 class="font-weight-bold my-3 text-success">
      Restaurant near by contains keyword 
      <span class="text-primary"><%= params[:q] %></span>.
    </h6>
  <% elsif @restaurant_nearby.blank? && params[:location].present? %>
    <h6 class="font-weight-bold my-3 text-danger">
      Not found restaurant near by 
      <span class="text-primary"><%= params[:near] %></span> 
      contains keyword 
      <span class="text-primary"><%= params[:q] %></span>.
    </h6>
  <% end %>

  <div class="row">
    <% if @restaurant_nearby.present? %>
      <%= render @restaurant_nearby %>
    <% end %>
  </div>
  <%= will_paginate @restaurant_nearby %>

  <%if @restaurant_nearby.blank? && @kolkata_restaurants.present? %>
    <h5 class="text-secondary font-weight-bold">Restaurants in kolkata</h5>
    <div class="row">
      <%= render @kolkata_restaurants %> 
    </div>
    <%= will_paginate @kolkata_restaurants %>
  <% end %>
</div>