<div class="container-border bg-white p-3 my-3">
  <h4 class="font-weight-bold text-center">Table-Id : TABL<%= booking_table.id %></h4>
  <%= link_to booking_table.restaurant, class: "text-dark" do %>
    <h5 class="font-weight-bold"><%= booking_table.restaurant.name %></h5>
    <p class="small text-secondary"><%= booking_table.restaurant.address %></p>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <h6 class="font-weight-bold">Date of booking</h6>
      <p><%= booking_table.booking_date %></p>
    </div>

    <div class="col-md-4">
      <h6 class="font-weight-bold">Number of guests</h6>
      <p><%= booking_table.guest_number %></p>
    </div>

    <div class="col-md-4">
      <h6 class="font-weight-bold">Date of time</h6>
      <p><%= booking_table.booking_time.localtime.strftime("%H:%M") %></p>
    </div>

    <div class="col-md-4">
      <h6 class="font-weight-bold">Name of guest</h6>
      <p><%= "#{booking_table.guest_first_name} #{booking_table.guest_last_name}" %></p>
    </div>

    <div class="col-md-4">
      <h6 class="font-weight-bold">Phone number of guest</h6>
      <p><%= booking_table.guest_phone_number %></p>
    </div>

    <div class="col-md-4">
      <h6 class="font-weight-bold">Phone number of guest</h6>
      <p><%= booking_table.guest_email %></p>
    </div>
  </div>
  <small class="text-secondary">You have booked on <%= booking_table.created_at.localtime.strftime("%d %B, %Y %H:%M") %></small>
  <div class="float-right">

    <%= link_to edit_restaurant_booking_table_path( booking_table.restaurant, booking_table ), class: "btn btn-primary", title: "Edit" do %>
      <i class="fas fa-edit"></i>
    <% end %>

    <%= link_to [ booking_table.restaurant, booking_table ], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", title: "Delete" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>

  </div>
</div>

