<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addfood">
  Add Food Item
</button>

<%= form_for ([@restaurant, @restaurant.food_items.build]), html: { multipart: true } do |form| %>
  <div class="modal fade" id="addfood" tabindex="-1" role="dialog" aria-labelledby="addfoodLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addfoodLabel">Add a new food</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div class="form-group required">
            <%= form.label :name, class: "control-label" %>
            <%= form.text_field :name, placeholder: "Enter name of food", class: "form-control", required: true %>
          </div>

          <div class="form-group required">
            <%= form.label :image, class: "control-label" %>
            <%= form.file_field :image, placeholder: "Upload an image", class: "form-control-file" %>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group required">
                <%= form.label :price, class: "control-label" %>
                <%= form.text_field :price, placeholder: "Enter the price", class: "form-control", required: true %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group required">
                <%= form.label :food_category_id, class: "control-label" %>
                <%= form.select :food_category_id, options_for_select([["select", nil]] + FoodCategory.order(:name).pluck(:name, :id)), {}, class: "form-control", required: true %>
              </div>
            </div>
          </div>

          <div class="form-group required">
            <%= form.radio_button :veg, "veg", checked: true %> <%= form.label :veg_veg, "Veg" %>
            <%= form.radio_button :veg, "egg" %> <%= form.label :veg_egg, "Egg" %>
            <%= form.radio_button :veg, "non_veg" %> <%= form.label :veg_non_veg, "Non-veg" %>
          </div>

          <div class="form-group">
            <%= form.submit "Add Food Item", class: "form-control btn btn-danger" %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>