<% @page_title = "Order Food Online" %>

<div class="container container-size my-4">
  <div class="row">
    <div class="col-md-8 bg-white container-border">
      <%= link_to @restaurant, class: "nav-link" do %>
        <div class="caption">
          <small class="text-secondary"><%= @restaurant.restaurant_category.name %></small>
          <h3 class="text-dark font-weight-bold"><%= @restaurant.name %></h3>
          <small class="text-secondary"><%= @restaurant.address %></small>
        </div>
      <% end %>
    </div>

    <% if is_admin? %>
      <div class="col-md-4">
        <div class="ml-5 my-4">
          <%= render "food_items/form" %>
        </div>
      </div>
    <% end %>

    <div class="col-md-7 container-border py-3">
      <%= render @food_categories %>
    </div>

    <div class="col-md-5">
      <% if current_order.order_items.count > 0 %>
        <div class="container-border">
          <h5 class="font-weight-bold text-center my-2">
            <i class="fas fa-shopping-cart text-primary"></i>
            Food-Cart Details:
          </h5>
          <div class="cart-height overflow-auto">
            <table class="table container-border bg-white py-3" id="order">
              <thead>
                <tr>
                  <th scope="col">Food Item</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <% @order_items.each do |order_item| %>
                  <tr>
                    <td>
                      <%= link_to restaurant_food_item_path(order_item.food_item.restaurant, order_item.food_item), class: "text-dark" do %>
                        <% if order_item.food_item.veg? %>
                          <%= image_tag "veg-icon.png", class: "veg-icon" %>
                        <% else %>
                          <%= image_tag "nonveg-icon.png", class: "nonveg-icon" %>
                        <% end %>
                        <%= order_item.food_item.name %> 
                      <% end %>   
                    </td>
                    <td><%= order_item.quantity %></td>
                    <td align="right"><%= number_to_currency (order_item.sub_total) %></td>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update_order_food_<%= order_item.id %>">
                        <i class="fas fa-edit"></i>
                      </button>
                      <%= form_for( [ order_item.food_item.restaurant, order_item.food_item, order_item ] ) do  |f| %>
                        <div class="modal fade my-5" id="update_order_food_<%= order_item.id %>" tabindex="-1" role="dialog" aria-labelledby="newcategoryModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" id="newcategoryModalLabel">Fix Quantity</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="form-group required">
                                  <%= f.number_field :quantity, min: 1, class: "quantity-input" %>
                                </div>

                                <%= f.submit "Update", class: "btn btn-danger" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to [ order_item.food_item.restaurant, order_item.food_item, order_item ], method: :delete, class: "btn btn-danger", title: "Remove Item" do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <h5 class="font-weight-bold text-primary my-3">Total Price : <%= number_to_currency current_order.total_price %></h5>

            <h6 class="font-weight-bold text-center mt-5">Please drag marker to adjust delivery location.</h6>
            <%= form_for [ current_order.restaurant, current_order ] do |f| %>
              <%= f.hidden_field :latitude %>
              <%= f.hidden_field :longitude %>
              <div id="order_location" class="p-2 my-3"></div>
              <div class="form-group">
                <%= f.submit "Place Order", class: "btn btn-success my-3" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
</div>

<script>
  function initMap(){

    var map = new google.maps.Map(document.getElementById('order_location'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 6
          });
    
    if(navigator.geolocation){
      navigator.geolocation.getCurrentPosition(function(position){
        var point = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

        map = new google.maps.Map(document.getElementById("order_location"), {
          zoom: 16,
          center: point,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = new google.maps.Marker({
          position: point,
          map: map,
          draggable: true
        });

        google.maps.event.addListener(marker, "dragend", function(){
          var point = {lat: marker.getPosition().lat(), lng: marker.getPosition().lng()};
          map.setCenter(point);
          document.getElementById("order_latitude").value = this.getPosition().lat();
          document.getElementById("order_longitude").value = this.getPosition().lng();
        });
      });
    }
    else{
      alert("W3C Geolocation API is not available");
    }
  }

  function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
    }, function(responses) {
      if (responses && responses.length > 0) {
        var address = updateMarkerAddress(responses[0].formatted_address);
        document.getElementById("restaurant_address").value = address;
      } else {
        updateMarkerAddress('Cannot determine address at this location.');
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= AUTH_DETAILS['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
