<div class="container container-size">
  <div class="row">
    <div class="col-md-8">
      <div class="container-border bg-white my-4 py-2 px-3">
        <small class="text-uppercase text-secondary">Order food online from</small>
        <h4 class="font-weight-bold"><%=link_to @restaurant.name, @restaurant, class: "text-dark" %></h4>
        <p class="text-secondary"><%= @restaurant.address %></p>
      </div>
    </div>

    <% if is_admin? %>
      <div class="col-md-4">
        <div class="container-border bg-white mx-3 my-4 p-3">
          <%= render "food_items/form" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-8">
      <% FoodCategory.all.each do |food_category| %>

        <% if food_category.food_items.present? %>
          <h5 class="font-weight-bold text-warning"><%= food_category.name %></h5>
          <table class="table">
            <tbody>
              <% food_category.food_items.each do |food_item| %>
                <tr>
                  <td><%= food_item.name %></td>

                  <td>
                    <i class="fas fa-rupee-sign"></i>
                    <%= food_item.price %>
                  </td>

                  <td class="btn-group">
                    <button class="btn btn-success">
                      <i class="fas fa-minus"></i>
                    </button>

                    <button class="btn btn-success">
                      <i class="fas fa-plus"></i>
                    </button>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

      <% end %>
    </div>
  </div>
  
</div>



