<%= form_for @restaurant, html: { multipart: true } do |form| %>
  <h2 class="font-weight-bold mt-3">Add a restaurant</h2>
  <h5 class="font-weight-bold">Basic info</h5>
  <div class="basic-info bg-white my-4 py-4 px-3 container-border">
    <% if @restaurant.errors.any? %>
      <% @restaurant.errors.full_messages.each do |message| %>
        <p class="text-danger"><%= message %></p>
      <% end %>
    <% end %>

    <div class="form-group required">
      <%= form.label :name, "RESTAURANT NAME", class: "control-label text-uppercase" %>
      <%= form.text_field :name, placeholder: "Enter Restaurant name", class: "form-control" %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :restaurant_category_id, "RESTAURANT CATEGORY", class: "control-label text-uppercase" %>
          <%= form.select :restaurant_category_id, options_for_select( @restaurant_category_options ), {}, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :image, "Upload image", class: "control-label text-uppercase" %>
          <%= form.file_field :image, class: "form-control-file" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :email, class: "text-uppercase control-label" %>
          <%= form.text_field :email, placeholder: "Enter restaurant email", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :phone_number, class: "control-label text-uppercase" %>
          <%= form.text_field :phone_number, placeholder: "Restaurant phone number", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :secondary_phone_number, class: "text-uppercase" %>
          <%= form.text_field :secondary_phone_number, placeholder: "Restaurant secondary phone number (optional)", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :website %>
          <%= form.text_field :website, placeholder: "Enter website address", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-4">
          <%= form.radio_button :serve_alcohal, false, checked: true %> <%= form.label :serve_alcohal_false, "Don't serve alcohal" %>
          <%= form.radio_button :serve_alcohal, true %> <%= form.label :serve_alcohal_true, "Serve alcohal" %>
        </div>
      </div>
    </div> 
  </div>

  <h5 class="font-weight-bold mt-3">Owner information: </h5>
  <div class="basic-info bg-white my-3 py-4 px-3 container-border">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :owner_phone_number, class: "control-label text-uppercase" %>
          <%= form.text_field :owner_phone_number, placeholder: "Owner phone number", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :owner_email, class: "control-label text-uppercase" %>
          <%= form.text_field :owner_email, placeholder: "Owner email", class: "form-control" %>
        </div>
      </div>
    </div>
  </div>


  <h5 class="font-weight-bold mt-4">Please drag marker to adjust location of restaurant.</h5>
  <div class="container-border bg-white py-2 px-4 my-3">
    <div class="row">
      <%= form.hidden_field :latitude %>
      <%= form.hidden_field :longitude %>
      <div id="restaurant_map_marker"></div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>

<script>
  function initMap(){

    var map = new google.maps.Map(document.getElementById('restaurant_map_marker'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 6
          });
    
    if(navigator.geolocation){
      navigator.geolocation.getCurrentPosition(function(position){
        var point = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

        map = new google.maps.Map(document.getElementById("restaurant_map_marker"), {
          zoom: 15,
          center: point,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = new google.maps.Marker({
          position: point,
          map: map,
          draggable: true
        });

        google.maps.event.addListener(marker, "dragend", function(){
          var point = {lat: marker.getPosition().lat(), lng: marker.getPosition().lng()};
          map.setCenter(point);
          document.getElementById("restaurant_latitude").value = this.getPosition().lat();
          document.getElementById("restaurant_longitude").value = this.getPosition().lng();
        });
      });
    }
    else{
      alert("W3C Geolocation API is not available");
    }
  }

  function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
    }, function(responses) {
      if (responses && responses.length > 0) {
        var address = updateMarkerAddress(responses[0].formatted_address);
        document.getElementById("restaurant_address").value = address;
      } else {
        updateMarkerAddress('Cannot determine address at this location.');
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= AUTH_DETAILS['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
