<%= form_for @restaurant, html: { multipart: true } do |form| %>
  <h2 class="font-weight-bold mt-3">Add a restaurant</h2>
  <h5 class="font-weight-bold">Basic info</h5>
  <div class="basic-info bg-white my-4 py-4 px-3 container-border">
    <% if @restaurant.errors.any? %>
      <% @restaurant.errors.full_messages.each do |message| %>
        <p class="text-danger"><%= message %></p>
      <% end %>
    <% end %>

    <div class="form-group required">
      <%= form.label :name, "RESTAURANT NAME", class: "control-label text-uppercase" %>
      <%= form.text_field :name, placeholder: "Enter Restaurant name", class: "form-control" %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :restaurant_category_id, "RESTAURANT CATEGORY", class: "control-label text-uppercase" %>
          <%= form.select :restaurant_category_id, options_for_select( @restaurant_category_options ), {}, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :image, "Upload image", class: "control-label text-uppercase" %>
          <%= form.file_field :image, class: "form-control-file" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :email, class: "text-uppercase control-label" %>
          <%= form.text_field :email, placeholder: "Enter restaurant email", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :phone_number, class: "control-label text-uppercase" %>
          <%= form.text_field :phone_number, placeholder: "Restaurant phone number", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :secondary_phone_number, class: "text-uppercase" %>
          <%= form.text_field :secondary_phone_number, placeholder: "Restaurant secondary phone number (optional)", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :city, class: "control-label text-uppercase" %>
          <%= form.text_field :city, placeholder: "Enter City", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :address, class: "control-label text-uppercase" %>
          <%= form.text_field :address, placeholder: "Search Restaurant address", class: "form-control", id: "autocomplete" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.radio_button :serve_alcohal, false, checked: true %> <%= form.label :serve_alcohal_false, "Don't serve alcohal" %>
          <%= form.radio_button :serve_alcohal, true %> <%= form.label :serve_alcohal_true, "Serve alcohal" %>
        </div>
      </div>

      <div class="col-md-5">
        <div id="map_address"></div>
      </div>
    </div>
  </div>

  <h5 class="font-weight-bold my-4">Owner information: </h5>
  <div class="basic-info bg-white my-4 py-4 px-3 container-border">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :owner_phone_number, class: "control-label text-uppercase" %>
          <%= form.text_field :owner_phone_number, placeholder: "Owner phone number", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group required">
          <%= form.label :owner_email, class: "control-label text-uppercase" %>
          <%= form.text_field :owner_email, placeholder: "Owner email", class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "create", class: "form-control btn btn-success" %>
  </div>

<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= AUTH_DETAILS['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
    async defer></script>

    

    <!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map_address {
        height: 200px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map_address'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= AUTH_DETAILS['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>
  </body>
</html>