<div class="container container-size">
  <div class="row">
    <div class="col-md-8 my-4">
      <%= render "restaurants/restaurant" %>
      <div class="row bg-white container-border my-4 py-3">
        <div class="col-md-4">
          <h5 class="font-weight-bold">Phone Numbers</h5>
          <strong class="text-weight-bold text-success"> <%= @restaurant.phone_number %> </strong><br/>
          <strong class="text-weight-bold text-success"> <%= @restaurant.secondary_phone_number %></strong>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">Email</h5>
          <p><%= @restaurant.email %></p>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">Restaurant Type</h5>
          <strong><%= @restaurant.restaurant_category.name %></strong>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">City</h5>
          <strong><%= @restaurant.city %></strong>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">Address</h5>
          <p><%= @restaurant.address %></p>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">More Info</h5>
          <p><%= @restaurant.website %></p>
          <% if @restaurant.serve_alcohal %>
            <p class="text-success">Serve alcohal</p>
          <% else %>
            <p class="text-danger">We don't serve alcohal</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container container-size">
  <% if signed_in? %>
    <div class="row">
      <div class="col-md-8 container-border bg-white py-3">
        <div class="d-flex justify-content-between">
          <h5 class="font-weight-bold">Write a Review</h5>
          <p class="text-danger float-right" id="cancel">Cancel</p>
        </div>

        <input type="text" class="form-control review" placeholder="Help other foodies by sharing your review of Hola!" ></input>
        <button class="btn btn-success my-3 review" id="review">Add Your Review</button>
        <%= render partial: "reviews/form" %>

      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-8">
      <% if is_admin? %>
        <h5 class="my-4 font-weight-bold text-danger">Review not approved yet?</h5>
        <%= render @reviews_not_approved %>
      <% end %>

      <h5 class="my-4 font-weight-bold text-primary">Reviews</h5>
      <%= render @reviews %>
    </div>
  </div>
</div>