<div class="container container-size">
  <div class="row">
    <div class="col-md-8 my-4">
      <div class="thumbnail mx-n3 container-border bg-white">
        <%= image_tag @restaurant.image.url, class: "responsive img-large rounded-top" %>
        <div class="caption px-3">
          <%= link_to @restaurant.name, @restaurant, class: "text-dark font-weight-bold h3 nav-link" %> <br/>
          <small class="text-secondary"><%= @restaurant.address %></small>

          <span class=" float-right">
            <% if @restaurant.reviews.approved.count == 0 %>
              <span class="bg-secondary text-white rounded-circle p-2 h5">NEW</span>
            <% else %>
              <span class="font-weight-bold h5 text-white bg-success rounded-circle p-2" >
                <%= number_with_precision( @avg_rating, precision: 1 ) %>
                <span class="font-weight-bold h6">/ 5</span>
              </span>
            <% end %>
          </span>
        </div>

        <div class="px-3 my-2">
          <%= link_to "Order Food Online", restaurant_food_items_path(@restaurant), class: "btn btn-success mt-2 mt-md-0" %>
          <%= link_to "Book Table", new_restaurant_table_path(@restaurant), class: "btn btn-primary mt-2 mt-md-0" %>
          <%= link_to "Menu Card", restaurant_menu_cards_path(@restaurant), class: "btn btn-secondary mt-2 mt-md-0" %>

          <%= link_to "Photos", restaurant_photos_path(@restaurant), class: "btn btn-warning mt-2 mt-md-0" %>
        </div>
      </div>

      <div class="row bg-white container-border my-2 py-3">
        <div class="col-md-4 mb-2">
          <h5 class="font-weight-bold">Phone Numbers</h5>
          <strong class="text-weight-bold text-success"> <%= @restaurant.phone_number %> </strong><br/>
          <strong class="text-weight-bold text-success"> <%= @restaurant.secondary_phone_number %></strong>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">Email</h5>
          <p><%= @restaurant.email %></p>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">Restaurant Type</h5>
          <strong><%= @restaurant.restaurant_category.name %></strong>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">City</h5>
          <p><%= @restaurant.city %></p>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">Address</h5>
          <p><%= @restaurant.address %></p>
        </div>

        <div class="col-md-4">
          <h5 class="font-weight-bold">More Info</h5>
          <p><%= @restaurant.website %></p>
          <% if @restaurant.serve_alcohal %>
            <p class="text-success">Serve alcohal</p>
          <% else %>
            <p class="text-danger">We don't serve alcohal</p>
          <% end %>
        </div>

        <% if is_admin? %>
          <div class="col-md-8">
            <h5 class="font-weight-bold">Owner Contact Details</h5>
            <div class="row">
              <div class="col-md-6">
                <p class="text-dark font-weight-bold">Phone Number:<br/><span class="text-success"> <%= @restaurant.owner_phone_number %></span></p>
              </div>
              <div class="col-md-6">
                <p class="text-dark font-weight-bold">Email: <span class="text-success"> <%= @restaurant.owner_email %></span></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container container-size">
  <% if signed_in? %>
    <div class="row">
      <div class="col-md-8 container-border bg-white py-3">
        <div class="d-flex justify-content-between">
          <h5 class="font-weight-bold">Write a Review</h5>
          <button type="button" class="btn btn-white text-danger float-right" id="cancel" title="Cancel"><i class="fas fa-window-close"></i></button>
        </div>

        <input type="text" class="form-control review" placeholder="Help other foodies by sharing your review of Hola!" ></input>
        <button class="btn btn-success my-3 review" id="review">Add Your Review</button>
        <%= render partial: "reviews/form" %>

      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-8" id="reviews">

      <% if is_admin? && @reviews_not_approved.count != 0 %>
        <h4 class="text-danger mt-3">Reviews not approved yet?</h4>
        <%= render @reviews_not_approved %>
         <%= will_paginate @reviews_not_approved %>
      <% end %>

      <% if @reviews_approved %>
        <h4 class="text-primary mt-3">Reviews</h4>
        <%= render @reviews_approved %>
      <% end %>

      <%= will_paginate @reviews_approved %>
    </div>
  </div>
</div>