<% @page_title = "Edit Menu Card" %>

<div class="container">
  <div class="container-size">
    <div class="row">
      <div class="col-md-8 my-4">
        <%= render "restaurants/info" %>
      </div>
    </div>
    <h4 class="font-weight-bold">Edit Menu Cards!</h4>
    <div class="row">
      <div class="col-md-8 bg-white container-border mb-4 py-3">
        <%= form_for [ @restaurant, @menu_card ], html: { multipart: true } do |f| %>
  
          <%= render "validation_errors/error", object: @menu_card %>
          
          <div class="form-group required">
            <%= f.label :image, "Upload Menu Card", class: "control-label" %>
            <%= f.file_field :image, class: "form-control-file" %>
          </div>

          <div class="form-group required">
            <%= f.label :description, class: "control-label" %>
            <%= f.text_area :description, row: 5, placeholder: "Write some words about this menu card!", class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= link_to "Back", restaurant_menu_cards_path(@restaurant), class: "btn btn-secondary" %>
            <%= f.submit "Update Menu Card", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>