 <% @page_title = "#{@restaurant.name} Menu Card" %>

<div class="container container-size my-4">
  <div class="row">
    <div class="col-md-8 bg-white container-border">
      <%= link_to @restaurant, class: "nav-link" do %>
        <div class="caption">
          <small class="text-secondary"><%= @restaurant.restaurant_category.name %></small>
          <h3 class="text-dark font-weight-bold"><%= @restaurant.name %></h3>
          <small class="text-secondary"><%= @restaurant.address %></small>
        </div>
      <% end %>
    </div>

    <div class= "col-md-4 my-4">
      <% if is_admin? %>
        <%= render "form" %>
      <% end %>
    </div>
  </div>
  <div class="row text-center">
    <% @menu_cards.each do |menu_card| %>
      <div class="col-md-3 bg-white container-border my-2 py-2">
        <a href="<%= menu_card.image.url %>" data-lightbox="roadtrip" data-title="<%= menu_card.description %>" class="example-image-link">
          <%= image_tag menu_card.image.url, class: "img-fluid" %>
        </a>

        <% if is_admin? %>
          <div class="btn-group my-2">
            <%= link_to edit_restaurant_menu_card_path(menu_card.restaurant, menu_card), title: "Edit", class: "btn btn-primary" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            
            <%= link_to [menu_card.restaurant, menu_card], method: :delete, data: { confirm: "Are you sure?" }, title: "Delete", class: "btn btn-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>