<%= form_for([@restaurant, @review], html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="col-2 text-center">
      <%= image_tag current_user.image.url, class: "rounded-circle img-responsive icon" %>
    </div>

    <div class="col-10">
      <div id="rating_form" class="text-success">
        <label>Your rating: </label>
      </div>

      <div class="form-group">
        <%= f.label :comment %>:
        <%= f.text_area :comment, rows: 5, placeholder: "Help other foodies by sharing your review of Hola! (minimum 100 characters!)", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :image, "Upload Image if want?" %>
        <%= f.file_field :image, class: "form-control-file" %>
      </div>

      <%= f.submit "Publish Review", class: "btn btn-success float-right" %>
    </div>
  </div>
<% end %>