<%= form_for([@restaurant, @review]) do |f| %>
  <div class="row">
    <div class="col-2 text-center">
      <%= image_tag current_user.image, class: "rounded-circle img-responsive icon" %>
    </div>

    <div class="col-10">
      <div id="rating_form">
        <label>Rating</label>
      </div>

      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, rows: 5, placeholder: "Help other foodies by sharing your review of Hola! (minimum 100 characters!)", class: "form-control" %>
      </div>

      

      <%= f.submit "Publish Review", class: "btn btn-success float-right" %>
    </div>
  </div>
<% end %>