<div class="container-border bg-white mx-n3 my-2 p-3">
  <div class="row">

    <div class="col-2 text-center">
      <%= link_to review.user do %>
        <%= image_tag review.user.image.url, class: "rounded-circle img-responsive icon" %>
      <% end %>
    </div>

    <div class="col-10">
      <%= link_to review.user.name, review.user, class: "font-weight-bold h6 text-dark" %> <br/>
      <small class="text-secondary"><%= pluralize(review.user.reviews.count, "Review") %>,</small>
      <small class="text-secondary">posted this <%= distance_of_time_in_words(Time.now - review.created_at) %> ago</small>

      <% if review.not_approved? %>
        <small class="text-danger float-right">Not approved yet</small>
      <% end %>
    </div>

    <div class="px-3">
      <h6 class="font-weight-bold text-success small">
        <span class="review-rating" data-score = "<%= review.rating %>"></span>
      </h6>
      <p class="small">
        <% unless review.image.blank? %>
          <%= image_tag review.image.url, class: "img-fluid float-left mr-3" %>
        <% end %>
        <%= review.comment %>
      </p>
    </div>

     <br>
      <div class="float-left px-1">
        
        <% if review.user == current_user %>
          <%= link_to edit_restaurant_review_path( review.restaurant, review), class: "btn text-primary", title: "Edit" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>

        <% if (review.user == current_user) || is_admin? %>
          <%= link_to [ review.restaurant, review], method: :delete, data: {confirm: "Are you sure?" }, class: "btn text-danger", title: "Delete" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>

          <% if is_admin? && review.not_approved? %>
            <%= link_to restaurant_approve_review_path(review.restaurant, review), class: "btn text-success", title: "Approve" do %>
              <i class="fas fa-flag"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
</div>


     