<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon.png">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'load' %>
  </head>

  <body class="bg-color">
    <header class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-red margin-0">
        <div class="container">
          <%= link_to "Zomato Clone", root_path, class: "font-weight-bold h4 text-white" %>
        </div>

        <div class="d-md-flex justify-space-between">
          <% if @page_title != "Zomato Clone" %>
            <%= form_tag root_path, class: "navbar-form d-flex form-size", role: "search", method: :get do |f| %>
              <div class="d-md-flex justify-space-between">
                <%= button_tag name: nil, class: "btn btn-danger rounded-circle mx-1 px-2 border" do %>
                  <i class="fas fa-location-arrow"></i>
                <% end %>
                <%= hidden_field_tag :location, params[:location] %>
                <%= text_field_tag :near, params[:near], placeholder: "Enter location", class: "mx-1 form-control col-md-3" %>
                <%= text_field_tag :q, params[:q], placeholder: "Search Restaurant by Category, food, city etc.", class: "mx-1 form-control col-md-6" %>
                <%= submit_tag "search", class: "btn btn-danger border form-control mx-1", id: "search" %>
              </div>
            <% end %>
          <% end %>

          <% if signed_in? && @page_title != "Zomato Clone" %>
            <div class="nav-item dropdown ml-4 my-2 ">
              <a class="nav-link dropdown-toggle container-border my-n2 form-control text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_user.image.url, class: "small-icon rounded-circle" %>
                <%= current_user.name.split.first %>
              </a>

              <span class="dropdown-menu my-3 ml-n3" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Add Info", edit_user_path(current_user), class: "dropdown-item" %> 
                <%= link_to "My Orders", restaurant_orders_path(current_user.orders), class: "dropdown-item" %>                  
                <%= link_to "My Bookings", restaurant_tables_path(current_user.tables), class: "dropdown-item" %>
                <%= link_to "Log Out", signout_path, method: :delete, class: "dropdown-item" %>
              </span>
            </div>
          <% end %>
        </div>
      </nav>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "text-#{key} text-center" %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
