<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon.png">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'load' %>
  </head>

  <body class="bg-color">
    <header class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-red margin-0">
        <div class="container">
          <%= link_to "Zomato Clone", root_path, class: "font-weight-bold h4 text-white" %>
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item ml-md-4">
              <%= link_to "Home", root_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item ml-md-4">
              <%= link_to "Restaurants", restaurants_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item item dropdown ml-md-4">
              <% if signed_in? %>
                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag current_user.image.url, class: "small-icon rounded-circle" %>
                  <%= current_user.name.split.first %>
                </a>

                <div class="dropdown-menu my-3 ml-md-n4" aria-labelledby="navbarDropdown">
                  <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "Add Info", edit_user_path(current_user), class: "dropdown-item" %> 
                  <%= link_to "My Orders", restaurant_orders_path(current_user.orders), class: "dropdown-item" %>                  
                  <%= link_to "My Bookings", restaurant_booking_tables_path(current_user.booking_tables), class: "dropdown-item" %>
                  <%= link_to "Sign Out", signout_path, method: :delete, class: "dropdown-item" %>
                </div>
              <% else %>
                <a class="nav-link dropdown-toggle bg-red text-white" href="#" data-toggle="modal" data-target="#AccountModalPage">Sign In or Sign Up</a>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value.html_safe, class: "text-#{key} text-center" %>
    <% end %>
    
    <%= yield %>

    <div class="modal fade my-5" id="AccountModalPage" tabindex="-1" role="dialog" aria-labelledby="AccountModalLabelID" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="AccountModalLabelID">Sign up or log in to Zomato-Clone</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="my-3">
              <%= link_to "/auth/facebook", class: "btn form-control facebook" do %>
                <i class="fab fa-facebook-f fa-2x text-white mx-3"></i>
                <span class="text-white imp-link">Continue with Facebook</span>
              <% end %>
            </div>

            <div class="my-3">
              <%= link_to "/auth/google_oauth2", class: "btn form-control google" do %>
                <span class="text-secondary imp-link">
                  <%= image_tag "google-icon.png", class: "mx-3 small-icon" %>Continue with Google
                </span>
              <% end %>
            </div>

            <div class="d-flex justify-space-between mt-5">
              <button type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#loginModal">Sign In</button>
              <%= render "sessions/form" %>

              <button type="button" class="btn btn-success form-control" data-toggle="modal" data-target="#signupModal">Sign Up</button>
              <%= render "users/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
